.header {
  background-image: var(--base-grad, #000080);
  color: var(--color-second, #ffffff);
  padding: 16px 15px 32px;
}

.header__wrapper {
  max-width: 290px;
  margin: 0 auto;
}

.header__main {
  padding-bottom: 16px;
  display: flex;
  gap: 41px;
}

.header__main img {
  width: 100px;
  height: 20px;
}

.header__logo {
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__link {
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

@media (width >= 768px) {
  .header {
    padding: 30px 45px 100px;
  }

  .header__wrapper {
    max-width: 678px;
  }

  .header__main {
    padding-bottom: 30px;
    justify-content: space-between;
  }

  .header__main img {
    width: 110px;
    height: 22px;
  }

  .header__link {
    font-size: 24px;
  }
}

@media (width >= 1366px) {
  .header {
    padding: 31px 103px 120px;
  }

  .header__wrapper {
    max-width: 1160px;
  }

  .header__main {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .header__main img {
    width: 130px;
    height: 26px;
  }

  .header__link {
    font-size: 26px;
  }
}
